@import '../../../styles/vendors/mq';

.hello-world {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 2.5rem;

	> img {
		width: 50%;
	}

	@include mq($from: tablet, $until: desktop) {
		flex-direction: column;
		font-size: 2rem;
	}

	@include mq($until: tablet) {
		> img {
			width: 60%;
		}
	}

	@include mq($until: tablet) {
		flex-direction: column;
		font-size: 1.5rem;
	}
}